@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background-color: #FFFFFF;
  font-family: "Josefin_Sans";
}

@font-face {
  font-family: 'cormorant'; /* Nom de la police que vous souhaitez utiliser */
  src: url('/assets/fonts/cormorant/CormorantInfant-MediumItalic.ttf') format('ttf'); /* Chemin vers le fichier de police */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Josefin_Sans'; /* Nom de la police que vous souhaitez utiliser */
  src: url('/assets/fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf') format('truetype'); /* Chemin vers le fichier de police */
  font-weight: normal;
  font-style: normal;
}